@using System.Collections
@using System.Net.Mime
@using System.Web.Mvc.Html
@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@model List<GUI_eksamen_web.Models.Joke>

@{
    ViewBag.Title = "SearchJokes";
}
@{ var bov = ""; }
@{
    IEnumerable li = new[] {new ListItem("hej")};
    SelectList list = new SelectList(li);

}
<h2>Søg i vittigheder</h2>

@using (Html.BeginForm("NewJoke", "Joke", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post))
{
    @Html.TextBox("search","",new {PlaceHolder="Søg i emner", @class="form-control", style="min-width: 60%"})
    <br/>
    <!--Html.ListBoxFor(m => m.SearchedList, Model.SearchedList)-->
    <div class="col-md-4">
        @foreach (var item in Model)
        {
            @Html.ListBoxFor(modelItem => item.NewJoke, list )
        }
    </div>
    <div style="width: 80%">
        @Html.TextArea("selected", bov, new { @readonly = "true", @id = "txt", @style = "width: 400pt;", @class = "form-control" })
    </div>
}



<script>
    @(bov) = document.getElementById("ListBox1").selected().toString();
</script>       
