@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vittigheder.dk</h1>
    <p class="lead">På vittigheder.dk kan du søge efter vittigheder baseret på emneord og selv indstaste nye vittigheder til databasen.</p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Indtast ny vittighed","Create","Jokes",null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Søg i vittigheder", "Index", "Jokes",null, new  { @class = "btn btn-default" })
    </div>
</div>