<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings><add name="GrundfosModel" connectionString="data source=10.29.0.29;initial catalog=F16I4DABH4Gr3;integrated security=False;User ID=F16I4DABH4Gr3;Password=F16I4DABH4Gr3;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>

<!-- connectionString="data source=(localdb)\ProjectsV12;initial catalog=Grundfos.Database;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" -->